<form>
  <div class="mb-3">
    <label for="" class="form-label">Nombres Completos</label>
    <input type="text" class="form-control" id="" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="" class="form-label">Codigo de Vendedor</label>
    <input type="text" class="form-control" id="">
  </div>
  <div class="mb-3">
    <label for="" class="form-label">Correo</label>
    <input type="email" class="form-control" id="">
  </div>
  <div class="mb-3">
    <label for="" class="form-label">Nombre de Emmpresa que trabaja</label>
    <input type="text" class="form-control" id="">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
