<form>
    <div class="mb-3">
      <label for="" class="form-label">Producto</label>
      <br>
      <select id="" class="input input-primary">
        <option selected>Cocina</option>
        <option value="1">Refrigeradora</option>
        <option value="2">Microondas</option>
        <option value="3">Lavadora</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="" class="form-label">Fecha de venta</label>
      <input type="date" class="form-control" id="">
    </div>
    <div class="mb-3">
      <label for="" class="form-label">Precio</label>
      <input type="number " class="form-control" id="">
    </div>
  
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
